
<h1> Admin Dashboard </h1><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Most Popular Events</h3>
  </div>
  <div class="panel-body">
      <!-- Table -->
   <table class="table">
     <thead>
       <th>Building</th>
       <th>Room</th>
       <th>Events</th>
       <th colspan="3"></th>
     </thead>

     <tbody>
       <% Room.top.each do |room| %>
        <tr>
          <td><%= room.building.name %></td>
          <td><%= room.name %></td>
          <td><%= room.events.count %></td>
        </tr>
       <% end %>
     </tbody>

   </table>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Most Popular Users</h3>
  </div>
  <div class="panel-body">
      <!-- Table -->
   <table class="table">
     <thead>
       <th>Company</th>
       <th>User</th>
       <th>Events Attending</th>
       <th colspan="3"></th>
     </thead>

     <tbody>
       <% User.top.each do |user| %>
        <tr>
          <td><%= user.company.name %></td>
          <td><%= user.full_name %></td>
          <td><%= user.attendees.count %></td>
        </tr>
       <% end %>
     </tbody>

   </table>

  </div>
</div>

<p><%= link_to 'Export Events to CSV', events_csv_path(format: "csv"), class: "btn btn-default" %></p>
<p><%= link_to 'Export Events to PDF', pdf_path(format: "pdf"), class: "btn btn-default" %></p>

<div class="row">
  <div class="well col-md-4">
  <ul>
    <li><h1>Rooms</h1></li>
        <% @rooms.each do |room| %>
          <br>
          <li><h4><%= link_to room.name, room %></h4></li>
          <li>Cap: <%= room.capacity %></li>
          <li>Building: <%= room.building.name %></li>
        <% end %>
      </ul>
  </div>
  <div class="well col-md-4">
  <ul>
    <li><h1>Events</h1></li>
        <% @events.each do |event| %>
          <br>
          <li><h4><%= link_to event.room.name, event %>, <%= link_to event.formatted_start_time, event %></h4></li>
          <li><%= event.description.truncate(40) %></li>
          <li><%= event.duration %> minutes</li>
        <% end %>
  </ul>
  </div>
  <div class="well col-md-4">
    <ul>
    <li><h1>Invitees</h1></li>
          <% @invitees.each do |invitee| %>
          <br>
            <li><h4><%= link_to invitee.user.full_name, invitee %></h4></li>
            <li><%= invitee.event.formatted_start_time %></li>
            <li>in the <%= invitee.event.room.name %> room</li>
          <% end %>
      </ul>
  </div>
</div>
<%= paginate @events %>
