
<h1> Admin Dashboard </h1><br>
<p><%= link_to 'Export Events to CSV', events_csv_path(format: "csv"), class: "btn btn-default" %></p>
<p><%= link_to 'Export Events to PDF', pdf_path(format: "pdf"), class: "btn btn-default" %></p>

<div class="row">
  <div class="well col-md-4">
  <ul>
    <li><h1>Rooms</h1></li>
        <% @rooms.each do |room| %>
          <br>
          <li><h4><%= link_to room.name, room %></h4></li>
          <li>Cap: <%= room.capacity %></li>
          <li>Building: <%= room.building.name %></li>
        <% end %>
      </ul>
  </div>
  <div class="well col-md-4">
  <ul>
    <li><h1>Events</h1></li>
        <% @events.each do |event| %>
          <br>
          <li><h4><%= link_to event.room.name, event %>, <%= link_to event.formatted_start_time, event %></h4></li>
          <li><%= event.description.truncate(40) %></li>
          <li><%= event.duration %> minutes</li>
        <% end %>
  </ul>
  </div>
  <div class="well col-md-4">
    <ul>
    <li><h1>Invitees</h1></li>
          <% @invitees.each do |invitee| %>
          <br>
            <li><h4><%= link_to invitee.user.full_name, invitee %></h4></li>
            <li><%= invitee.event.formatted_start_time %></li>
            <li>in the <%= invitee.event.room.name %> room</li>
          <% end %>
      </ul>
  </div>
</div>
<%= paginate @events %>
