
<h1>Listing Events</h1>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Start time</th>
        <th>Duration</th>
        <th>Description</th>
        <th>Room</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.formatted_start_time %></td>
          <td><%= event.formatted_event_duration %></td>
          <td><%= event.description %></td>
          <td><%= event.room.name.titleize %></td>
          <td><%= event.user.full_name.titleize %></td>
          <td><%= link_to 'Show', event, class: "btn btn-default" %></button></td>
          <td><%= link_to 'Edit', edit_event_path(event), class: "btn btn-default" %></td>
          <td><%= link_to 'Destroy', event, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>

<%= link_to 'New Event', new_event_path %>
