
<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Room:</strong>
  <%= @event.room.name %>
</p>

<p>
  <strong>Event created by:</strong>
  <%= @event.user.first_name %> <%= @event.user.last_name %>
</p>

<tbody>
  <tr>
    <strong>Choose your invitees:</strong><br>
      <td><% @event.user.company.users.each do |user| %></td>
      <td><%= user.first_name %> <%= user.last_name %></td>
      <td><%= react_component('InviteButton', userID: 1, eventID: @event.id ) %></td>
  <!-- REACT HERE
  <%# link_to('Invite User', new_invite_path(invite: {user_id: current_user.id,
    event_id: @event.id, accepted: false}), class: 'btn btn-info btn-xs',
    method: :POST)%> -->
  </tr>
    <% end %>
</tbody>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
