
<p>
  <strong>Start time:</strong>
  <%= @event.start_time.strftime("%B %d, %Y @ %I:%M%P") %>
</p>

<p>
  <strong>Duration:</strong>
  <%= "#{@event.duration}" + " minutes"%>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Room Name:</strong>
  <%= @event.room.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user.full_name %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
