
<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Room:</strong>
  <%= @event.room.name %>
</p>

<p>
  <strong>Event created by:</strong>
  <%= @event.user.first_name %> <%= @event.user.last_name %>
</p>

<p>
  <strong>Choose your invitees:</strong>

  <% @event.user.company.users.each do |user| %>
  <%= user.first_name %> <%= user.last_name %>
  <%= link_to('Invite User', rsvp_path(invitee: {user_id: current_user.id, 
    event_id: event.id, accepted: false}), class: 'btn btn-info btn-xs',
    method: :POST)%>
  <% end %>

  <%= link_to('Add To Order', lineitems_path(lineitem:
                    { item_id: item.id, qty: 1,
                    order_id: current_user.current_order.id }),

                    method: :POST) %>

</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
