
<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Room:</strong>
  <%= @event.room.name %>
</p>

<p>
  <strong>Event created by:</strong>
  <%= @event.user.first_name %> <%= @event.user.last_name %>
</p>

<p>
  <strong>Choose your invitees:</strong>
  <!-- <%# @event.invitees %> -->
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
