
<p>
  <strong>Start time:</strong>
  <%= @event.formatted_start_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.formatted_event_duration %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Room Name:</strong>
  <%= @event.room.name.titleize %>
</p>
<p>
  <strong>Event created by:</strong>
  <%= @event.user.full_name.titleize %>
</p>
<p>
  <strong>Number of attendees:</strong>
  <%= @event.attendees.count %>
</p>
<p>Click Button to attend this event.</p>
<%= link_to "Attend event", attendees_path(:attendee => { :event_id => @event.id }),
 :method => :post, class: 'btn btn-default btn-md' if @event.attendees.count < @event.room.capacity %>
<br>
<tbody>
  <tr>
    <strong>Choose your invitees:</strong><br>
      <td><% current_user.company.users.each do |user| %></td>
      <td><%= user.first_name %> <%= user.last_name %></td>
      <% unless @event.attendees.count < @event.room.capacity %>
      <td><%= react_component('InviteButton', userID: user.id, eventID: @event.id ) %></td>
      <% end %>
  </tr>
  <% @event.room.inspect if Rails.env.development? %>
    <% end %>
</tbody>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<p><% params.inspect if Rails.env.development? %></p>
<p><% current_user.inspect if Rails.env.development? %></p>
