<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @building.name.titleize %>
</p>

<p>
  <strong>Street:</strong>
  <%= @building.street.titleize %>
</p>

<p>
  <strong>City:</strong>
  <%= @building.city.titleize %>
</p>

<p>
  <strong>State:</strong>
  <%= @building.state.titleize %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @building.zip %>
</p>

<p>
  <strong>Site:</strong>
  <%= @building.site.name.titleize %>
</p>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
