<p id="notice"><%= notice %></p>
<div>
  <h1>
    <strong><%= @building.name.titleize %></strong>
  </h1>
  </div>
<div class="row">
 <div class="well col-md-12">
    <ul>
      <li><h1>Address</h1></li>
          <li>1120 <%= @building.street.titleize %></li>
          <li><%= @building.city.titleize %>, <%= @building.state.titleize %></li>
          <li><%= @building.zip %></li>
        </ul>
    </div>
</div>
<div2>
  <p>
    <strong>
      <%= link_to 'Site', site_path(@building.site_id) %> |
      <%=link_to 'Rooms', rooms_path  %> |
      <%= link_to 'Back', buildings_path %>
    </strong>
  </p>
</div2>
