  <div class="row">
    <div class="colspan-3">
      <p class="text-left">
        <strong>Room Name:</strong>
        <%= @room.name.titleize %>
      </p>

      <p class="text-left">
        <strong>Capacity:</strong>
        <%= @room.capacity %>
      </p>

      <p class="text-left">
        <strong>Building:</strong>
        <%= @room.building.name.titleize %>
      </p>
    </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Who Made The Reservation</th>
          <th>Start Time</th>
          <th>Duration</th>
          <th>Description</th>
        </tr>
      </thead>

      <tbody>
        <% @room.events.each do |event| %>
          <tr>
            <%= link_to event do %>
              <td><%= event.user.full_name.titleize %></td>
              <td><%= link_to event.formatted_start_time %></td> <!--helpful resource - https://hackhands.com/format-datetime-ruby/-->
              <td><%= link_to event.formatted_event_duration %></td>
              <td><%= link_to event.description %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <td><%= react_component('ScheduleEventForm', userID: 1, roomID: room.id ) %></td>
</div>
<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
