<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @room.capacity %>
</p>

<p>
  <strong>Building:</strong>
  <%= @room.building.name %>
</p>

<<<<<<< HEAD
<td><%= react_component('ScheduleEventForm', userID: 1, roomID: room.id ) %></td>
=======
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Start Time</th>
      <th>Duration</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @room.events.each do |event| %>
      <tr>
        <td><%= event.user_id %></td>
        <td><%= event.start_time %></td>
        <td><%= event.duration %></td>
        <td><%= event.description %></td>
      </tr>
    <% end %>
    <th colspan="5"></th>
  </tbody>
</table>
>>>>>>> upstream/master

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
