<h1>Listing Sites</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Company</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @sites.each do |site| %>
        <tr>
          <td><%= site.name.titleize %></td>
          <td><%= site.location %></td>
          <td><%= site.company.name.titleize %></td>
          <td><%= link_to 'Show', site, class: "btn btn-default" %></td>
          <td><%= link_to 'Edit', edit_site_path(site), class: "btn btn-default" %></td>
          <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Site', new_site_path %>
<%= paginate @sites %>
