<p id="notice"><%= notice %></p>

<h1>
  <strong><%= @site.name.titleize %></strong>
</h1>
<div class="row">
    <div class="well col-md-3">
    <ul>
      <li><h1>Location</h1></li>
          <li><%= @site.location %></li>
        </ul>
    </div>
    <div class="row">
    <div class="well col-md-4">
    <ul>
      <li><h1>Company</h1></li>
          <li><%= @site.company.name.titleize %></li>
        </ul>
    </div>
     <div class="well col-md-4">
    <ul>
      <li><h1>Buildings</h1></li>
        <% @site.buildings.each do |building| %>
        <br>
          <li><h4><%= link_to building.name, building %></h4></li>
        <% end %>
        </ul>
    </div>
  </div>
</div>
<p>
  <strong>
    <%= link_to 'Edit', edit_site_path(@site) %> |
    <%= link_to 'Back', sites_path  %>
  </strong>
</p>
