<!DOCTYPE html>
<html>
<head>
  <title>Schedlr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<ul class="nav nav-tabs">
  <li><%= link_to 'Log In' , new_user_session_path %></li>
  <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
  <li><%= link_to 'Sign Up', new_user_registration_path %></li>
  <li><%= link_to 'Admin'  , admin_path %></li>
</ul>

    <div class='container'>
      <div class='row'>
        <div class='col-xs-12'>
          <main>
            <center><%= yield %></center>
          </main>
        </div>
      </div>
    </div>
    </div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
