<!DOCTYPE html>
<html>
<head>
  <title>Schedlr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<ul class="nav nav-tabs">
  <li><button class="btn btn-default" type="submit"><%= link_to 'Log In' , new_user_session_path %></button></li>
  <li><button class="btn btn-default" type="submit"><%= link_to 'Log Out', logout_path, method: :delete %></button></li>
  <li><button class="btn btn-default" type="submit"><%= link_to 'Sign Up', new_user_registration_path %></button></li>
  <li><button class="btn btn-default" type="submit"><%= link_to 'Admin'  , admin_path %></button></li>
</ul>

    <div class='container'>

      <main>
        <center><%= yield %></center>
      </main>

    </div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
