<!DOCTYPE html>
<html>
<head>
  <title>Schedlr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<p><%= link_to 'Log In', new_user_session_path %></p>
<p><%= link_to 'Log Out', logout_path, method: :delete %></p>
<p><%= link_to 'Sign Up', new_user_registration_path %></p>

    <div class='container'>
      <div class='col-md-4'>
        <main>
          <%= yield %>
        </main>
      </div>
    </div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
